<section class="text-black font-bold text-center pb-6">
  <div class="container px-5 py-4 mx-auto text-3xl "> ASSETS Y ARTISTAS
    <div class="flex flex-wrap -m-4 mt-8">
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://cdna.artstation.com/p/assets/images/images/004/747/436/large/hector-moran-hec-infinidude-01.jpg?1485966761">
        </a>
        <div class="mt-4">
          <h3 class="text-white text-xs tracking-widest title-font mb-1">ASSETS
            3D
          </h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">Modelado 3d
            Blender
          </h2>
          <p class="mt-1 text-white text-xl">$30.000 cop</p>
          <div>
            <button type="submit"
              class="w-40 bg-purple-500 shadow-lg shadow-indigo-500/50 hover:bg-yellow-400 hover:text-black text-white font-bold  hover:text-gray-500 py-2 rounded-full mb-6 text-sm ">
              Agregar al carrito
            </button>

          </div>
        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://cdna.artstation.com/p/assets/images/images/039/741/506/large/kitbash3d-kb3d-favelas-00-2k.jpg?1626799812">
        </a>
        <div class="mt-4">
          <h3 class="text-white text-xs tracking-widest title-font mb-1">ASSETS
            3D
          </h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">KitBash 3d
            Medieval
          </h2>
          <p class="mt-1 text-white text-xl">$40.000 cop</p>
          <button type="submit"
            class="w-40 bg-purple-500 shadow-lg shadow-indigo-500/50 hover:bg-yellow-400 hover:text-black text-white font-bold  hover:text-gray-500 py-2 rounded-full mb-6 text-sm ">
            Agregar al carrito
          </button>

        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://cdna.artstation.com/p/assets/images/images/050/596/766/large/kitbash3d-outlaw-web-set-gallery-02.jpg?1655224442">
        </a>
        <div class="mt-4">
          <h3 class="text-white text-xs tracking-widest title-font mb-1">ASSETS
            3D
          </h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">KitBash 3d
            Oeste
          </h2>
          <p class="mt-1 text-white text-xl">$40.000 cop</p>
          <button type="submit"
            class="w-40 bg-purple-500 shadow-lg shadow-indigo-500/50 hover:bg-yellow-400 hover:text-black text-white font-bold  hover:text-gray-500 py-2 rounded-full mb-6 text-sm ">
            Agregar al carrito
          </button>

        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://cdnb.artstation.com/p/assets/images/images/080/833/959/large/andrii-filevskyi-keyshot-hp-1.jpg?1728636321">
        </a>
        <div class="mt-4">
          <h3 class="text-white text-xs tracking-widest title-font mb-1">ASSETS
            3D
          </h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">Modelado
            Soldado Zbrush
          </h2>
          <p class="mt-1 text-white text-xl">$25.000 cop</p>
          <button type="submit"
            class="w-40 bg-purple-500 shadow-lg shadow-indigo-500/50 hover:bg-yellow-400 hover:text-black text-white font-bold  hover:text-gray-500 py-2 rounded-full mb-6 text-sm ">
            Agregar al carrito
          </button>

        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://cdnb.artstation.com/p/assets/images/images/017/095/085/large/alberto-moreno-slquo-asset.jpg?1554632887">
        </a>
        <div class="mt-4">
          <h3 class="text-white text-xs tracking-widest title-font mb-1">ASSETS
            3D
          </h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">Modelado
            Rocas Blender
          </h2>
          <p class="mt-1 text-white text-xl">$10.000 cop</p>
          <button type="submit"
            class="w-40 bg-purple-500 shadow-lg shadow-indigo-500/50 hover:bg-yellow-400 hover:text-black text-white font-bold  hover:text-gray-500 py-2 rounded-full mb-6 text-sm ">
            Agregar al carrito
          </button>

        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://cdna.artstation.com/p/assets/images/images/006/523/726/large/jonas-ronnegard-artstation04.jpg?1499251056">
        </a>
        <div class="mt-4">
          <h3 class="text-white text-xs tracking-widest title-font mb-1">ASSETS
            3D
          </h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">Pinceles
            Zbrush & Blender
          </h2>
          <p class="mt-1 text-white text-xl">$20.000 cop</p>
          <button type="submit"
            class="w-40 bg-purple-500 shadow-lg shadow-indigo-500/50 hover:bg-yellow-400 hover:text-black text-white font-bold  hover:text-gray-500 py-2 rounded-full mb-6 text-sm ">
            Agregar al carrito
          </button>

        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://cdnb.artstation.com/p/assets/images/images/071/591/731/large/bogdan-zhukov-renderhigh-01.jpg?1705508101">
        </a>
        <div class="mt-4">
          <h3 class="text-white text-xs tracking-widest title-font mb-1">ASSETS
            3D
          </h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">Model Casco
            Zbrush
          </h2>
          <p class="mt-1 text-white text-xl">$15.000 cop</p>
          <button type="submit"
            class="w-40 bg-purple-500 shadow-lg shadow-indigo-500/50 hover:bg-yellow-400 hover:text-black text-white font-bold  hover:text-gray-500 py-2 rounded-full mb-6 text-sm ">
            Agregar al carrito
          </button>

        </div>
      </div>
      <div class="lg:w-1/4 md:w-1/2 p-4 w-full">
        <a class="block relative h-48 rounded overflow-hidden">
          <img alt="ecommerce"
            class="object-cover object-center w-full h-full block"
            src="https://cdna.artstation.com/p/assets/images/images/025/786/620/large/pablo-munoz-gomez-exploration03.jpg?1586915025">
        </a>
        <div class="mt-4">
          <h3 class="text-white text-xs tracking-widest title-font mb-1">ASSETS
            3D
          </h3>
          <h2 class="text-gray-900 title-font text-lg font-medium">Pack Cabezas
            Zbrush
          </h2>
          <p class="mt-1 text-white text-xl">$20.000 cop</p>
          <button type="submit"
            class="w-40 bg-purple-500 shadow-lg shadow-indigo-500/50 hover:bg-yellow-400 hover:text-black text-white font-bold  hover:text-gray-500 py-2 rounded-full mb-6 text-sm ">
            Agregar al carrito
          </button>

        </div>
      </div>
    </div>
  </div>
</section>